
/*index.html*/
body {
  font-family: "Chewy", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff7e6;
  color: #333;
}


header {
  background-color: #d32f2f;
  color: white;
  padding: 20px;
  text-align: center;
  background-image: url("pizzerialogo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  background-color: white;
  border-bottom-left-radius: 10% 10vw;
  border-bottom-right-radius: 10% 10vw;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 30px 0;
  width: 100%;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}


.logo {
  height: 120px;
  width: auto;
}

.nav-title-box {
  flex-grow: 1;
  text-align: center;
}

.nav-title {
  font-size: 36px;
  font-weight: bold;
  color: #2c2c2c;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}


.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 18px;
}

.nav-links li a:hover {
  color: #d32f2f;
}

/* Responsive 2 */
@media (max-width: 900px) {
  .nav-container {
    flex-direction: column;
    padding: 0 20px;
  }
  
  .nav-title-box {
    margin: 15px 0;
  }

  .nav-title {
    font-size: 28px;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  header {
    padding: 15px;
    background-position: top center;
    background-size: 80%;
  }

  .logo {
    height: 80px;
  }

  .nav-title {
    font-size: 22px;
  }

  .nav-links li a {
    font-size: 16px;
  }

  .navigation {
    padding: 20px 0;
    border-bottom-left-radius: 20% 15vw;
    border-bottom-right-radius: 20% 15vw;
  }
}

/*footer*/
.footer-pizzeria {
  background-color: #2b1e0f; 
  color: #f3d9b1; 
  padding: 40px 20px 20px;
  font-family: 'Outfit', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-blok h3 {
  border-bottom: 2px solid #d35400; 
  padding-bottom: 6px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: #f3d9b1;
}

.footer-copyright {
  border-top: 1px solid #613d11;
  margin-top: 30px;
  padding-top: 15px;
  text-align: center;
  font-size: 0.85rem;
  color: #b78c59;
}

